bin/
out/
workspace.xml
test/Test.java
experiment/filepath/src/Test*.pj
experiment/jsglr/jsglr-master/
experiment/jsglr/mb-rep-master/
experiment/proteaj/apache-log4j-1.2.17/classes
experiment/proteaj/apache-log4j-1.2.17/contribs
experiment/proteaj/apache-log4j-1.2.17/dist
experiment/proteaj/apache-log4j-1.2.17/examples
experiment/proteaj/apache-log4j-1.2.17/generated
experiment/proteaj/apache-log4j-1.2.17/site
experiment/proteaj/apache-log4j-1.2.17/tests
experiment/proteaj/apache-log4j-1.2.17/target
experiment/proteaj/apache-log4j-1.2.17/xml
experiment/proteaj/apache-log4j-1.2.17/src.bak
experiment/proteaj/apache-log4j-1.2.17/src/assembly
experiment/proteaj/apache-log4j-1.2.17/src/changes
experiment/proteaj/apache-log4j-1.2.17/src/ntdll
experiment/proteaj/apache-log4j-1.2.17/src/performance
experiment/proteaj/apache-log4j-1.2.17/src/site
experiment/proteaj/apache-log4j-1.2.17/src/main/javadoc
experiment/proteaj/apache-log4j-1.2.17/src/main/resources
experiment/proteaj/apache-log4j-1.2.17/original/apache-log4j-1.2.17/
*.class
*.html