bin/
out/
workspace.xml
test/Test.java
experiment/apache-log4j-1.2.17/target
experiment/apache-log4j-1.2.17/tests
experiment/apache-log4j-1.2.17/contribs
experiment/apache-log4j-1.2.17/examples
experiment/apache-log4j-1.2.17/site
experiment/apache-log4j-1.2.17/src/assembly
experiment/apache-log4j-1.2.17/src/changes
experiment/apache-log4j-1.2.17/src/performance
experiment/apache-log4j-1.2.17/src/ntdll
experiment/apache-log4j-1.2.17/src/site
experiment/apache-log4j-1.2.17/src/main/javadoc
experiment/apache-log4j-1.2.17/src/main/resources
*.html
